<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e5249927-13c9-4426-82d3-58b043ff880d" Publisher="CN=RTigger" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TwitterSearcher</DisplayName>
    <PublisherDisplayName>RTigger</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>TwitterSearcher</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="twittersearcher.exe" EntryPoint="TwitterSearcher.App">
      <VisualElements DisplayName="TwitterSearcher" Logo="Images\Logo.png" SmallLogo="Images\SmallLogo.png" Description="TwitterSearcher" ForegroundText="light" BackgroundColor="#222222" InitialRotationPreference="portrait">
        <DefaultTile ShortName="TwitterSrchr" ShowName="true" />
        <SplashScreen Image="Images\fail-whale.png" BackgroundColor="#FF00CC" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>